<div class="container" style=" width:50%; text-align: center; margin-top: 2%;">
  <div style="text-align: center; background-color: lightblue; border: 1px solid dodgerblue">
    <p>Files will be uploaded to <a href="https://play.min.io">Minio</a> storage</p>
    <p><strong>Access key: </strong>Q3AM3UQ867SPQQA43P2F</p>
    <p><strong>Secret key: </strong>zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG</p>
    <p><strong>Bucket: </strong>gkportfolio</p>
  </div>
  <div style="width: 100%; margin-top: 4%">
    <app-form-upload style="width: 100%"></app-form-upload>
  </div>
  <div style="width: 100%; margin-top: 5%">
    <app-list-upload style="width: 100%"></app-list-upload>
  </div>
</div>

