/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 900px) {
  #coming-soon-content {
    display: block;
  }

  #main-content {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  #main-content {
    display: block;
  }

  #coming-soon-content {
    display: none;
  }
}
