.full-width{
  width: 100%;
}

.one-input-form-width{
  width: 43%;
  margin-left: 2%;
}

.section-header{
  height: 20px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://clipartart.com/images/transparent-work-experience-clipart-1.png');
  background-size: cover;
}
