<video autoplay muted loop id="myVideo">
  <source src="assets/bg.mp4" type="video/mp4">
</video>
<div class="content">
  <div style="margin-top: 15%">
    <div style="margin-top: 3%">
      <h3 style="font-weight: 100">Welcome Garik's portfolio</h3>
    </div>
    <div>
      <strong>VISIT AS</strong>
    </div>
    <div>
        <!-- Use a button to pause/play the video with JavaScript -->
      <button mat-stroked-button [disabled]="loading" (click)="login('hr', 'wlc0m3hr')"
              class="myBtn">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        HR
      </button>
      <button mat-stroked-button [disabled]="loading" (click)="login('technical_guy', 'wlct3chguy')"
              style="margin-left: 2%"
              class="myBtn">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Technical Person
      </button>
    </div>
  </div>
</div>
